{% extends 'dashboard.base.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block body %}

<!-- Button trigger modal -->
<div class="m-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">New</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div>
            {{ form(form) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>

<table class="table table-hover">
    
    <tr>
        <th>Username</th>
        <th>User roles</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Job position</th>
        <th>Create date</th>
        <th>Actions</th>
    </tr>

    {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.roles[0] }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.surname }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.position }}</td>
            <td>{{ u.createDate|date('Y-m-d H:i:s') }}0</td>
            <td>
                <a href="{{ path('accounts_edit', {id: u.id}) }}" class="btn btn-secondary">Edit</a>
                <a href="{{ path('accounts_delete',  {id: u.id}) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {% else %}
        No user available
    {% endfor %}

</table>

{% endblock %}

{% block footer %}{% endblock %}