{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="bg-dark m-5 p-3" style="opacity:.70">
<div class="div_body">
<div id="div_about_us">
    <h1>Tunnel Management System</h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in congue dui. 
    Donec ut hendrerit ante. Cras velit risus, scelerisque id faucibus eget, ullamcorper et arcu. 
    Nulla eu volutpat neque. Morbi non lectus rhoncus, sagittis nisi ac, fermentum ex. Sed volutpat
     tristique velit id ultricies. Nullam vel lorem sit amet nunc blandit scelerisque ac nec elit. 
     Integer aliquet elit neque, eget venenatis augue sodales eget. Sed maximus, ipsum venenatis congue
      tincidunt, urna nibh dignissim libero, ac finibus nisi lectus at nisl. Quisque tortor urna,
       vestibulum ac justo non, pulvinar malesuada ipsum. Praesent blandit ultricies ipsum non mattis.</div>
    
        
</div>
<div class="row" id="about_us_integrantes">
        <div class="col-3">
            Xavier Usunáriz
        </div>
        <div class="col-3">
            Asier Pabolleta
        </div>
        <div class="col-3">
            Jon Recarte
        </div>
        <div class="col-3">
            Nerea Ibañez
        </div>        
 </div>
 </div>
</div>
{% endblock %}
