{% extends 'base.html.twig' %}

{% block title %}Tunnel Management{% endblock %}

{% block body %}
<div class="div_body">
<br>
<div id="div_alarma_main"><span>{{ data.message|default("Available tunnel") }}<span></div>
<br>
<div id="div_datos_sensores">

    <div class="row datos_title">
        <div class="col align-self-start">Live data</div>
        <div class="col align-self-center" id="clock_main"></div>
    </div>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <img class="col align-self-start" src="assets/img/gota_agua.png"/>
                <div class="col align-self-center">Humidity</div>
                <div class="col align-self-center">{{ data.humidity|default("90") }}%</div>
            </div>
        </li>
        <li class="list-group-item">
        <div class="row">
                <img class="align-self-start navbar" src="assets/img/ice_icon.png"/>
                <div class="col align-self-center">Temperature</div>
                <div class="col align-self-center">{{ data.temperature|default("21") }}ºC</div>
        </div>
        </li>
        <li class="list-group-item">
        <div class="row">
                <img class="align-self-start navbar" src="assets/img/humo.png"/>
                <div class="col align-self-center">C0</div>
                <div class="col align-self-center">{{ data.co|default("90") }}ppt</div>
        </div>
        </li>
    </ul>
</div>
</div>
{% endblock %}
