<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="assets/css/login_index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    <body>
         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="d-flex justify-content-center" >
            <form class="col-3" action="{{ path('login') }}" method="post">
                <legend class="text-center">Login</legend>

                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
                
                <label id="label_password" for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="_password">
                
                <div class="d-flex justify-content-center">
                    <input id="btn_submit" type="submit" class="btn btn-primary" value="Log in"/>
                </div>
            </form>
        </div>
    </body>
</html>
