@font-face{
    font-family: "bpdots";
    src: URL("../fonts/bpdots.otf");
  }

.main_nav {
    min-height: 10%;
}
html {
    position: relative;

}
body {
    background:URL('../img/tunnel-blue-light.jpeg') no-repeat center center;
    background-size:cover;
    height: 100vh;
}

.div_body {
    min-height: 80%;
    padding-top: 10px;
}

footer {
    min-height: 10%;
    color: white;
    position: absolute;
    bottom: 0;
    min-width: 100%;
}

#div_alarma_main {
    background-color: rgba(0, 0, 0);
    min-height: 15%;
    margin: auto;
    max-width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: bpdots;
    align-items: center;
    color: orange;
    font-size:xxx-large;
    border-radius: 5px;
    border: rgb(26, 21, 21) 5px solid;
}

#div_datos_sensores {
    max-width: 40%;
    align-items: center;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    border: 6px solid black;
}
#div_datos_sensores > .datos_title {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black;
    background-color: rgb(115, 166, 243);
    margin: 0;
}

.list-group > li > div > img {
    max-width: 10%;
    max-height: 10%;
    /* display: inline-block;
    text-align: left;
    justify-content: left; */
}
/* .list-group > li > div > div {
    display: inline-block;
    justify-content: center;
} */

#div_about_us {
    max-width: 60%;
    color: white;
    text-align: center;
    margin: auto;
}

#div_about_us > h1  {
    margin-top: 40px;
}

#div_about_us > div  {
    margin-top: 20px;
}

#about_us_integrantes {
    max-width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 5%;
}
