<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tunnel Management{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link href="assets/css/main_index.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script src="assets/js/actual_clock.js"></script>
        {% endblock %}
    </head>
    
    <body>
      {# Header #}
      <nav class="navbar navbar-expand navbar-dark bg-dark" id="main_nav">
        <div class="row container-fluid">
          <div class="col">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{{ path('index') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ path('about') }}">About Us</a></li>
            </ul>
          </div>
          <div class="col-auto">
            {% if not is_granted('ROLE_USER') %}
            <span><a class="btn btn-primary" href="{{ path('login') }}">Login</a></span>
            {% else %}
            <span><a class="btn btn-outline-light" href="{{ path('dashboard_index') }}">Dashboard</a></span>
            <span><a class="btn btn-primary" href="{{ path('logout') }}">Logout</a></span>
            {% endif %}
          </div>
        </div>
      </nav>

      {% block body %}{% endblock %}
      
      {# Footer #}
      {% block footer %}
      <footer class="bg-dark text-center text-dark-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
      </footer>
      {% endblock %}
    </body>
</html>
