<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script src="https://cdn.plot.ly/plotly-2.8.3.min.js?_ga=2.255911883.198597502.1642348600-1548007324.1642348600" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
        {% endblock %}
    </head>
    
    <body>

      <div class="row">
      <div class="col-2">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height:100vh">
        <a href="{{ path('index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4">Tunnel Management System</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="{{ path('index') }}" class="nav-link text-white active" aria-current="page">
              Home
            </a>
          </li>
          <li>
            <a href="{{ path('dashboard_index') }}" class="nav-link text-white">
              Dashboard
            </a>
          </li>
          <li>
            <a href="{{ path('dashboard_graphics') }}" class="nav-link text-white">
              Graphics
            </a>
          </li>
          {% if is_granted('ROLE_SUPER_ADMIN') %}
          <li>
            <a href="{{ path('accounts_index') }}" class="nav-link text-white">
              Accounts
            </a>
          </li>
          {% endif %}
        </ul>

        <hr>

        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/user.png" alt="" class="rounded-circle me-2" width="32" height="32">
            <strong>{{ app.user.username }}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('logout') }}">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column">
        {% block body %}{% endblock %}
      </div>
    </div>

    </div>

    <script>
      window.setTimeout(function () {
        window.location.reload();
      }, 5000);
    </script>

      <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>