{% extends 'dashboard.base.html.twig' %}

{% block title %}Graphics{% endblock %}

{% block body %}

<div class="row">
<div class="col card">
    <div class="card-header">Temperature</div>
    <div class="card-body">
        <div id="temp" style="width:600px;height:250px;"></div>
    </div>
</div>
<div class="col card">
    <div class="card-header">Humidity</div>
    <div class="card-body">
        <div id="hum" style="width:600px;height:250px;"></div>
    </div>
</div>
</div>
<div class="row card">
    <div class="card-header">CO</div>
    <div class="card-body">
        <div id="pot" style="width:600px;height:250px;"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

$(document).ready(function(){
$.ajax({
    url: window.location.origin + '/api/temperature',
    type: "GET",
    success: function(result){
        PLOT = document.getElementById('temp');
        Plotly.newPlot( PLOT, [{
            y: result }], {
            margin: { t: 0 } } );

    }
})
})

$(document).ready(function(){
$.ajax({
    url: window.location.origin + '/api/humidity',
    type: "GET",
    success: function(result){
        PLOT = document.getElementById('hum');
        Plotly.newPlot( PLOT, [{
            y: result }], {
            margin: { t: 0 } } );

    }
})
})

$(document).ready(function(){
$.ajax({
    url: window.location.origin + '/api/potentiometer',
    type: "GET",
    success: function(result){
        PLOT = document.getElementById('pot');
        Plotly.newPlot( PLOT, [{
            y: result }], {
            margin: { t: 0 }, width: 1000 } );

    }
})
})

</script>

{% endblock %}
