{% extends 'dashboard.base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="row m-3">
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5>Temperature</h5>
            <span>{{ val.temperature|default("21") }}ºC</span>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5>Humidity</h5>
            <span>{{ val.humidity|default("90") }}%</span>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5>CO</h5>
            <span>{{ val.co|default("90") }}ppt</span>
        </div>
    </div>
</div>
</div>

<div class="row m-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5>Gas</h5>
                <span>{{ val.gas|default("110") }}ppt</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5>Potentiometer</h5>
                <span>{{ val.potentiometer|default("100") }}</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5>High Temperature</h5>
                <span>{{ val.htemperature|default("90") }}ºC</span>
            </div>
        </div>
    </div>
    </div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Topic</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data|default() %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.datetime|date("Y-m-d H:i:s")}}</td>
                <td>{{i.topic}}</td>
                <td>{{i.data}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}
